In [1]:
%pylab inline
%precision 6
%load_ext line_profiler
%load_ext autoreload
%autoreload 1

Populating the interactive namespace from numpy and matplotlib

In [2]:
import pandas as pd
import sklearn as skl

In [3]:
pd.options.display.max_colwidth=100
np.set_printoptions(linewidth=140,edgeitems=10)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
rcParams['figure.figsize'] = (8.0, 5.0)

In [4]:
feedbacks=[]

with open('train_feedback.txt') as f:
    for line in f:
        feedback = eval(line)
        feedbacks.append(feedback)

In [5]:
with open('test_feedback.txt') as f:
    for line in f:
        feedback = eval(line)
        feedbacks.append(feedback)

In [6]:
len(feedbacks)

133906

In [7]:
feedbacks = pd.DataFrame(feedbacks)

In [8]:
feedbacks.head(3)

   MovieId  UserId      id               profileName  score                                      summary                                                                                                 text                 time
0     4043    7022   15082  Jon Stevens "Journalist"      4                            Great action film  This is one of my all time favorite American action films inspired by the Japanese Blind Samurai...  2010-09-04 03:00:00
1     2347    2996  108021           Michelle Sutton      5           Movie is way better than the book!  First, I have to say I'm incredibly biased toward the movie because I think Eric Bana is the mos...  2011-01-08 03:00:00
2       89     795  118483                  Jay Chen      4  A very good film that could have been great  The Abyss is one of those movies you can watch again and again.  It's a top notch film.<br /><br...  2011-06-25 03:00:00

In [9]:
with open('movie_descriptions.txt', encoding='utf-8') as f:   # python 3 syntax here
    descriptions=[]
    for line in f:
        description = eval(line)
        descriptions.append(description)

In [10]:
descriptions=pd.DataFrame(descriptions)

In [11]:
descriptions.head(3)

   MovieId                                                                actors                                                    awards           country         director                         genre language                                                                                                 plot    rated     released  runtime                                                                                             synopsis    type                                                                                     writer  year
0      790           Jimmy Smits, Marg Helgenberger, John Ashton, Allyce Beasley                                                       N/A  USA, New Zealand              N/A                Horror, Sci-Fi  English                       A buried UFO slowly turns local inhabitants into gizmo-building alien mutants.        R  09 May 1993  181 min  \n\nPart OneBobbi Anderson (Marg Helgenberger), a Western fiction writer, and her boyfriend, Jim...  series                                                                                        N/A  1993
1     4034  Spencer Tracy, Sidney Poitier, Katharine Hepburn, Katharine Houghton            Won 2 Oscars. Another 7 wins & 22 nominations.               USA   Stanley Kramer                 Comedy, Drama  English  After a period of vacation in Hawaii, Joanna &quot;Joey&quot; Drayton returns to her parents' ho...  UNRATED  12 Dec 1967  108 min  \n\nThe movie concerns Joanna Drayton, a young white American woman (Houghton) and a man with wh...   movie                                                                               William Rose  1967
2     2465                   Tom Hanks, Leslie Zemeckis, Eddie Deezen, Nona Gaye  Nominated for 3 Oscars. Another 5 wins & 22 nominations.               USA  Robert Zemeckis  Animation, Adventure, Family  English  This is the story of a young hero boy on Christmas Eve who boards on a powerful magical train th...        G  10 Nov 2004  100 min  \n\nTom Hanks plays the train conductor of a magical train heading for the North Pole, in additi...   movie  Chris Van Allsburg (book), Robert Zemeckis (screenplay), William Broyles Jr. (screenplay)  2004

In [12]:
Z=pd.merge(feedbacks,descriptions,on='MovieId')

In [13]:
len(Z)

133906

In [14]:
np.random.seed(0)
Z = Z.sample(frac=1.0).reset_index(drop=True)

In [15]:
Z.head(3)

   MovieId  UserId      id                        profileName  score                                                        summary                                                                                                 text                 time                                                            actors                                        awards country       director                      genre                      language                                                                                                 plot     rated     released  runtime                                                                                             synopsis   type                                                                                        writer  year
0     1746    6282   59852              joe espi "latinlover"      5  good quality on the kuro as usual but grainy on the panasonic  great movie but a bit grainy.  Cant really complain on the kuro since everything looks great on ...  2011-06-28 03:00:00                     Ken Leung, Jackie Chan, Tom Wilkinson, Tzi Ma                       6 wins & 8 nominations.     USA   Brett Ratner      Action, Comedy, Crime  English, Cantonese, Mandarin  Cultures clash and tempers flares as the two cops named Detective Inspector Lee a Hong Kong Dete...     PG-13  18 Sep 1998   98 min  \n\nWhen kidnappers grab a Chinese official's daughter, Hong Kong chief inspector Lee (Chan) is ...  movie                        Ross LaManna (story), Jim Kouf (screenplay), Ross LaManna (screenplay)  1998
1      290    9590   99293                        R. Sardrena      4                                         A forgotten little gem  This Blake Edwards comedy is a wonderful little farce featuring an excellent cast.  It may be a ...  2007-08-02 03:00:00                Jack Lemmon, Tony Curtis, Natalie Wood, Peter Falk  Won 1 Oscar. Another 1 win & 14 nominations.     USA  Blake Edwards  Action, Adventure, Comedy                       English  Professional daredevil and white-suited hero, The Great Leslie, convinces turn-of-the-century au...  APPROVED  01 Jul 1965  160 min  \n\nTony Curtis and Jack Lemmon are reunited again, this time with Blake Edwards at the wheel of...  movie  Arthur A. Ross (screenplay), Blake Edwards (original story), Arthur A. Ross (original story)  1965
2      340   13470  130797  Peter J. Miller "Peter J. Miller"      4                                        Powerful Adventure Film  I don't really like outdoor adventure movies very much but have to say that The Edge is quite po...  2011-11-13 03:00:00  Anthony Hopkins, Alec Baldwin, Elle Macpherson, Harold Perrineau                                           N/A     USA   Lee Tamahori   Action, Adventure, Drama                       English  An intellectual billionaire and two lesser men struggle to band together and survive after getti...         R  26 Sep 1997  117 min  \n\nCharles Morse (Anthony Hopkins), a billionaire, and two other men, Robert "Bob" Green (Alec ...  movie                                                                                   David Mamet  1997

In [16]:
Z.rename(columns={'score':'y'}, inplace=True)

In [17]:
Z.y

0          5
1          4
2          4
3        NaN
4          3
5        NaN
6          1
7        NaN
8          5
9          5
10       NaN
11         5
12       NaN
13         5
14       NaN
15       NaN
16         5
17         4
18       NaN
19         4
20         5
21         4
22         4
23       NaN
24       NaN
25         3
26       NaN
27       NaN
28       NaN
29         4
30         3
31         5
32         4
33         5
34       NaN
35       NaN
36         1
37         5
38       NaN
39       NaN
40         5
41       NaN
42       NaN
43         5
44         5
45       NaN
46       NaN
47       NaN
48       NaN
49       NaN
50       NaN
51         2
52       NaN
53         5
54       NaN
55       NaN
56       NaN
57         2
58       NaN
59         4
60       NaN
61         5
62         4
63       NaN
64       NaN
65       NaN
66         4
67         5
68         5
69         4
70       NaN
71       NaN
72       NaN
73         5
74       NaN
75         5
76       NaN
77       NaN
78       NaN
79       NaN
80         4
81         3
82         5
83       NaN
84         4
85         3
86       NaN
87         5
88         5
89       NaN
90         5
91         1
92       NaN
93         3
94         5
95         4
96       NaN
97         4
98       NaN
99       NaN
100      NaN
101      NaN
102        5
103        5
104        5
105        4
106        5
107      NaN
108        4
109        5
110        4
111      NaN
112      NaN
113        3
114        5
115      NaN
116      NaN
117      NaN
118        3
119        2
120      NaN
121      NaN
122      NaN
123        5
124        1
125      NaN
126        2
127        4
128        5
129        1
130        4
131      NaN
132      NaN
133      NaN
134      NaN
135      NaN
136        4
137        1
138      NaN
139        1
140        5
141      NaN
142        5
143        5
144        5
145      NaN
146      NaN
147        5
148        5
149        5
150        4
151      NaN
152        4
153        5
154      NaN
155      NaN
156      NaN
157        5
158        3
159        4
160        5
161      NaN
162        5
163        5
164        5
165        3
166        1
167      NaN
168        4
169        4
170        4
171        2
172      NaN
173      NaN
174        4
175        5
176      NaN
177        5
178        5
179        1
180        5
181        5
182        5
183        5
184      NaN
185        5
186      NaN
187      NaN
188      NaN
189        5
190      NaN
191        3
192      NaN
193        5
194        2
195      NaN
196      NaN
197      NaN
198      NaN
199        5
200        5
201      NaN
202      NaN
203        5
204        5
205      NaN
206      NaN
207        5
208        5
209        5
210        4
211        4
212        5
213        4
214        5
215      NaN
216        5
217      NaN
218      NaN
219      NaN
220      NaN
221        5
222        2
223        1
224      NaN
225      NaN
226        1
227        5
228        5
229      NaN
230      NaN
231      NaN
232        3
233      NaN
234        5
235        5
236        4
237        4
238      NaN
239        5
240        2
241      NaN
242      NaN
243        2
244        4
245        5
246      NaN
247        5
248        5
249        4
          ..
133656     1
133657   NaN
133658     5
133659     5
133660     5
133661   NaN
133662   NaN
133663   NaN
133664   NaN
133665     5
133666   NaN
133667     5
133668     5
133669     4
133670   NaN
133671   NaN
133672     5
133673   NaN
133674     5
133675     5
133676     5
133677   NaN
133678   NaN
133679   NaN
133680     5
133681   NaN
133682   NaN
133683   NaN
133684   NaN
133685     5
133686     4
133687   NaN
133688     4
133689     1
133690   NaN
133691     5
133692     5
133693     5
133694     5
133695   NaN
133696     5
133697   NaN
133698   NaN
133699     4
133700   NaN
133701   NaN
133702     3
133703     4
133704   NaN
133705   NaN
133706     5
133707     4
133708   NaN
133709   NaN
133710   NaN
133711   NaN
133712   NaN
133713   NaN
133714     5
133715     5
133716     1
133717     4
133718   NaN
133719   NaN
133720   NaN
133721   NaN
133722     3
133723     4
133724   NaN
133725   NaN
133726     5
133727     4
133728     5
133729   NaN
133730   NaN
133731   NaN
133732   NaN
133733     5
133734     5
133735   NaN
133736   NaN
133737   NaN
133738   NaN
133739     5
133740     2
133741   NaN
133742   NaN
133743     5
133744     4
133745     5
133746   NaN
133747   NaN
133748   NaN
133749   NaN
133750   NaN
133751     2
133752     5
133753     1
133754   NaN
133755   NaN
133756   NaN
133757     2
133758   NaN
133759   NaN
133760   NaN
133761     5
133762     4
133763   NaN
133764   NaN
133765   NaN
133766     4
133767     5
133768   NaN
133769     5
133770     4
133771   NaN
133772   NaN
133773     2
133774     5
133775     4
133776     5
133777   NaN
133778     5
133779   NaN
133780     3
133781   NaN
133782     5
133783     5
133784   NaN
133785     4
133786   NaN
133787     5
133788   NaN
133789     5
133790     5
133791     5
133792     5
133793   NaN
133794   NaN
133795     5
133796     5
133797     5
133798     5
133799     5
133800   NaN
133801     5
133802     5
133803     4
133804   NaN
133805     5
133806     5
133807     5
133808   NaN
133809   NaN
133810     4
133811     2
133812     5
133813   NaN
133814   NaN
133815     5
133816   NaN
133817   NaN
133818   NaN
133819   NaN
133820     3
133821   NaN
133822   NaN
133823     4
133824     5
133825   NaN
133826   NaN
133827     4
133828     5
133829   NaN
133830   NaN
133831     5
133832     4
133833   NaN
133834     3
133835   NaN
133836   NaN
133837     4
133838     3
133839   NaN
133840     3
133841     3
133842   NaN
133843   NaN
133844   NaN
133845     4
133846   NaN
133847   NaN
133848   NaN
133849   NaN
133850     5
133851     5
133852     4
133853     5
133854   NaN
133855   NaN
133856   NaN
133857     4
133858     5
133859   NaN
133860   NaN
133861     5
133862   NaN
133863   NaN
133864   NaN
133865   NaN
133866   NaN
133867     4
133868     2
133869     5
133870     5
133871   NaN
133872   NaN
133873     5
133874     4
133875   NaN
133876     5
133877     5
133878     5
133879     5
133880     5
133881   NaN
133882   NaN
133883   NaN
133884     5
133885   NaN
133886     5
133887   NaN
133888   NaN
133889     5
133890     4
133891     3
133892     2
133893     5
133894     4
133895     3
133896     5
133897     1
133898     5
133899     5
133900     3
133901   NaN
133902     4
133903     3
133904     3
133905     5
Name: y, dtype: float64

In [18]:
train_sels = ~isnan(Z.y)
test_sels = isnan(Z.y)

train_inds = find(train_sels)
test_inds = find(test_sels)

del train_sels, test_sels

In [19]:
corpus = Z.text

from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(min_df=1)
X = vectorizer.fit_transform(corpus)

Y=Z.y.values

In [20]:
X.shape[0], len(Y)

(133906, 133906)

In [21]:
import sklearn
from sklearn import svm

In [23]:
param_grid = {'C': [0.1, 1, 10, 100]}

clf = sklearn.model_selection.GridSearchCV(sklearn.svm.LinearSVC() ,param_grid, n_jobs=-1) # use n_jobs=1 here if have insufficient memory
clf.fit(X[train_inds], Y[train_inds])

GridSearchCV(cv=None, error_score='raise',
       estimator=LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
     intercept_scaling=1, loss='squared_hinge', max_iter=1000,
     multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
     verbose=0),
       fit_params={}, iid=True, n_jobs=-1,
       param_grid={'C': [0.1, 1, 10, 100]}, pre_dispatch='2*n_jobs',
       refit=True, return_train_score=True, scoring=None, verbose=0)

In [42]:
clf.best_params_

{'C': 1}

In [25]:
Y_hat = clf.predict(X[test_inds])

In [30]:
content = concatenate([Z.id[test_inds].values[:,newaxis], Y_hat[:,newaxis]],axis=1)
content.shape

(66953, 2)

In [38]:
solution = pd.DataFrame( content, columns = ['ReviewId', 'Score'], dtype=int)

In [39]:
solution.head()

   ReviewId  Score
0     71082      5
1     25176      4
2     30696      4
3     65695      5
4     63563      5

In [41]:
solution.to_csv('baseline solution.csv',index=False)